<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vastio.mapper.StandBookMapper">
    <delete id="deleteStandBook">
        delete from stand_book
    </delete>
    <select id="findStandBook" resultType="com.vastio.bean.model.StandBook">
        select * from standing_book
        <where>
            <if test="param.region != null">
                region = #{param.region}
            </if>
            <if test="param.code != null">
                and code like '%${param.code}%'
            </if>
            <if test="param.siteName != null">
                and site_name like '%${param.siteName}%'
            </if>
            <if test="param.startTime != null">
                and <![CDATA[TIME_TO_SEC(pay_time) >= #{param.startTime}]]>
            </if>
            <if test="param.endTime != null">
                and <![CDATA[TIME_TO_SEC(pay_time) <= #{param.endTime}]]>
            </if>
        </where>
    </select>
    <select id="findToPayStandBook" resultType="com.vastio.bean.model.StandBook">
        select *
        FROM standing_book
        where pay_time is null and (datediff(end, now()) between 0 and 60)
    </select>
    <select id="findOverTimePayStandBook" resultType="com.vastio.bean.model.StandBook">
        select *
        FROM standing_book
        where pay_time is null and (datediff(end, now()) &lt; 0)
    </select>
    <select id="findRenewContractStandBook" resultType="com.vastio.bean.model.StandBook">
        SELECT c.*
        FROM (SELECT *
              from (SELECT
                        CODE,
                        MAX(CONTRACT_END) CONTRACT_END
                    FROM standing_book
                    GROUP BY CODE) a
              WHERE DATEDIFF(a.CONTRACT_END, NOW()) &lt; 60)
             b LEFT JOIN standing_book c on c.CODE = b.CODE AND c.CONTRACT_END = b.CONTRACT_END
    </select>
</mapper>